body {
    background-image: url("12.jpg");
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
} 




h1{
	font-family: 'Fredoka One', cursive;
	text-align: center;
	margin-top: 32%;
	font-size: 40px;
}



h2{
	font-family: 'Fredoka One', cursive;
	text-align: center;
	margin-top: 10px;
	font-size: 25px;
}



.container{
	background: rgb(255,255,255);  /*gradient.io*/
	background: linear-gradient(0deg, rgba(255,255,255,1) 44%, rgba(255,255,255,0.7570378493194152) 88%, rgba(255,255,255,0) 100%);	
	background-size: 100% 100%; 
}

.hello{
	font-family: 'Comfortaa', cursive;
	margin-bottom: 50px;
	text-align: center;
}


footer{
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
	text-align: center;
	
}



#first{
		font-family: 'Comfortaa', cursive;
		font-size: 16px;
		line-height:2;
		
}

